<html>
 <head>login page
 </head>
  <body>
   <form action="/login" method="POST">
     # <div class="imgcontainer">
      #<img src="img_avatar2.png" alt="Avatar" class="avatar">
      #</div>

        <div class="container">
        <label for="name"><b>Username</b></label>
        <input type="number" placeholder="Enter Username" name="name" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
     </form>
  </body>
</html>